/* For Popup Window
----------------------------------------------------------*/
.overlayMaster {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
                
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlayMaster:target {
    visibility: visible;
    opacity: 1;
}

.popupMaster {
    background-color: #fff;
    
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 1;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.overlayMaster:target+.popupMaster {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.closeMaster {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.closeMaster:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.closeMaster:hover {
    background-color: rgba(64, 128, 128, 0.8);
}

/* For Masters Buttons
----------------------------------------------------------*/
        
.ButtonMasterInterface 
{
    border: 2px solid #CCCCCC;
    background: #4B6C9E;
    color: White;
    padding: 2px;
    border-radius: 2px;
}

.ButtonMasterInterface:hover 
{
    border: 2px solid #6295CC;
    background: #D3E1F1;
    color: Black;
    padding: 2px;
    border-radius: 2px;
}

/* For Masters TextBox
----------------------------------------------------------*/

.TextBoxMasterInterface 
{
    border: 2px solid #CCCCCC;
    padding: 2px;
    border-radius: 4px;
    height: 16px;
}
.TextBoxMasterInterface:hover 
{
    border: 2px solid #6295CC;
    padding: 2px;
    border-radius: 4px;
}


